<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stroke %>
    <%= form.text_field :stroke, id: :event_stroke %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.number_field :distance, id: :event_distance %>
  </div>

  <div class="field">
    <%= form.label :ccs_time %>
    <%= form.text_field :ccs_time, id: :event_ccs_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
